node_modules
/dist
.DS_Store
/node_modules
npm-debug.log
yarn-error.log
yarn-debug.log
yarn.lock
package-lock.json
.env
.env.local
.env.development.local
.env.test.local
.env.development
.env.*

/public
/build

/generated/prisma
/prisma/generated/